<div>Search: <input ng-model="query"></div>

<br/>

<form ng-submit="addTask()">
	<input type="text" ng-model="task.Priority" size="5" placeholder="priority">
	<input type="text" ng-model="task.Todo" size="30" placeholder="add new todo text here">
	<input type="submit" value="Add Task">
</form>

<br/>

<table border="1px">
	<tr>
		<th>Completed</th>
		<th><a href="" ng-click="predicate = 'Priority'; reverse=!reverse">Priority</a></th>
		<th><a href="" ng-click="predicate = 'Todo'; reverse=!reverse">Todo</a></th>
		<th><a href="" ng-click="predicate = 'DueDate'; reverse=!reverse">Due Date</a></th>
	</tr>
	<tr ng-repeat="task in tasklist | filter:{Completed:'false'} | filter:query | orderBy:sortByPredicate:reverse">
		<td><input type="checkbox" ng-checked="task.Completed" ng-click="toggleTaskCompletion(task)"></td>
		<td>{{task.Priority}}</td>
		<td><a href="/#/task/{{task.Id}}">{{task.Todo}}</a></td>
		<td ng-class="task.DueDate | dueDateClass">{{task.DueDate | dueDateFormat}}</td>
	</tr>
	<tr ng-repeat="task in tasklist | filter:{Completed:'true'} | filter:query | orderBy:sortByPredicate:reverse" class="completed">
		<td><input type="checkbox" ng-checked="task.Completed" ng-click="toggleTaskCompletion(task)"></td>
		<td>{{task.Priority}}</td>
		<td>{{task.Todo}}</td>
		<td ng-class="task.DueDate | dueDateClass">{{task.DueDate | dueDateFormat}}</td>
	</tr>
</table>

<p>Total number of tasks: {{tasklist.length}}</p>

<div>{{tasklist | json}}</div>
